<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JeepServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="JeepServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="JeepServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="JeepServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44386/JeepService.asmx"
                binding="basicHttpBinding" bindingConfiguration="JeepServiceSoap"
                contract="JeepServiceReference.JeepServiceSoap" name="JeepServiceSoap" />
            <endpoint address="https://localhost:44386/JeepService.asmx"
                binding="customBinding" bindingConfiguration="JeepServiceSoap12"
                contract="JeepServiceReference.JeepServiceSoap" name="JeepServiceSoap12" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <JeepServiceClient.Properties.Settings>
      <setting name="JeepServiceClient_localhost_JeepService" serializeAs="String">
        <value>https://localhost:44386/JeepService.asmx</value>
      </setting>
    </JeepServiceClient.Properties.Settings>
  </applicationSettings>
</configuration>